.navbar {
  margin: 25px 64px 0 72px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  width: 40px;
  padding-top: 8px;
}
.title {
  margin-left: 9px;
}
.nav-menu {
  width: 80%;
  margin-top: 0.5rem;
}
.nav-menu-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-family: "iranYekan-medium";
}
.nav-menu-list li {
  margin-left: 4rem;
}
.nav-menu-list li a {
  text-decoration: none;
  color: #454545;
  transition: 0.3s;
  font-size: 17px;
}
.active {
  color: #50c85c !important;
}
.nav-menu-list li a:hover {
  color: #000;
}
.title a {
  font-family: "iranYekan-bold";
  text-decoration: none;
  font-size: 30px;
  color: #50c85c;
}
.nav-login {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "iranYekan-medium";
}
.nav-login a {
  text-decoration: none;
  color: #454545;
  font-family: "iranYekan-medium";
}
.hambergur-menu {
  display: none;
}
.login-text {
  font-family: "iranYekan-medium";
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar-submenu {
  display: none;
}

.nav-submenu__arrow {
  display: none;
}

.navbar-submenu__item {
  padding: 0.5rem 0;
}
.navbar-submenu__item a {
  transition: 0.3s all ease;
}
.navbar-submenu__item a:hover {
  color: #6691ff;
}
.navbar-submenu__container {
  transition: 0.3s all ease;
}
.submenu-active {
  display: none;
}
.arrow-active {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar {
    margin: 25px 20px 0 30px;
  }
  .title {
    margin-left: 0;
  }
  .nav-menu-list li {
    margin-left: 2rem;
  }
  .nav-menu-list li:first-child {
    margin-right: 1rem;
  }
  .nav-menu-list li a {
    font-size: 14px;
  }
  .hambergur-menu {
    display: block;
  }
}
@media screen and (max-width: 780px) {
  .nav-menu-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-login__container {
    display: block;
    margin-left: 1.2rem;
  }
  .login-nav {
    cursor: pointer;
  }
  .navbar-submenu {
    display: none;
    left: 10px;
    background-color: #f8f8f8;
    padding: 1rem;
    position: absolute;
    top: 90px;
    font-family: "iranYekan-medium";
    font-size: 0.9rem;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0;
    z-index: 1000;
  }
  .submenu-active {
    top: 80px;
    font-family: "iranYekan-medium";
    font-size: 0.9rem;
    border-radius: 10px;
    display: block;
    left: 7px;
    background-color: #f8f8f8;
    padding: 1rem;
    position: absolute;
    transition: 0.3s;
    opacity: 1;
    z-index: 1000;
  }
  .nav-submenu__arrow {
    display: none;
    top: 50px;
    left: 58px;
    width: 17px;
    padding: 1rem 0;
    position: absolute;
    opacity: 0;
  }
  .arrow-active {
    display: block;
    top: 45px;
    left: 53px;
    width: 17px;
    padding: 1rem 0;
    position: absolute;
    opacity: 1;
  }
  .login-text__name {
    display: none;
  }
}
