.main {
  margin: 100px 64px 100px 72px;
  /* background-color: aqua; */
}
.support-container {
  display: flex;
  justify-content: left;
}
.support-container .support,
.settings {
  display: flex;
  align-items: center;
}
.support-container .support,
.settings p {
  font-family: "pinar-medium";
  font-size: 16px;
  color: #273b4a;
}
.support-container .support img {
  width: 20px;
  margin-left: 15px;
}
.support-container .settings img {
  width: 20px;
  margin-left: 15px;
}
.support-container .line {
  margin: 0 10px;
  border: 0.1px solid #c6b3b3;
  height: 50px;
}
