.main {
  margin: 100px 64px 100px 72px;
  /* background-color: aqua; */
}
.support-container {
  display: flex;
  justify-content: left;
}
.support-container .support,
.settings {
  display: flex;
  align-items: center;
}
.support-container .support,
.settings p {
  font-family: "pinar-medium";
  font-size: 18px;
  color: #273b4a;
}
.support-container .support img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.support-container .settings img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.support-container .line {
  margin: 0 10px;
  border: 1px solid #c6b3b3;
  height: 68px;
}

@media screen and (max-width: 769px) {
  .support-container .support img {
    width: 12;
    height: 12px;
    margin-left: 12px;
  }
  .support-container .settings img {
    width: 12px;
    height: 12px;
    margin-left: 12px;
  }
  .support-container .support,
  .settings p {
    font-family: "pinar-medium";
    font-size: 12px;
    color: #273b4a;
  }
  .support-container .line {
    margin: 0 10px;
    border: 1px solid #c6b3b3;
    height: 34px;
  }
}

@media screen and (max-width: 360px) {
  .support-container {
    display: none;
  }
}
